confluence:
  # if developing locally, it's much faster to skip the atlassian download.
  # Put your atlassian-confluence.tar.gz in salt/confluence/, and uncomment this:
  # source_url: salt://confluence
  source_hash: 'md5=1321c995b9cbddef79c146cdc42f95fb'
  version: 6.4

  jvm_Xms: 768m
  jvm_Xmx: 768m

  # templates/confluence-config.properties.tmpl
  properties:
    confluence.lf.top.bgcolour: '#169e2b'
    confluence.lf.top.hilightcolour: '#76c748'
    confluence.lf.top.textcolour: '#fff426'
    confluence.lf.top.texthilightcolour: '#f0f0f0'
    confluence.lf.menu.bgcolour: '#f20505'
    confluence.lf.menu.textcolour: '#ffffff'
    confluence.lf.hero.button.base.bg.colour: '#ff6b6b'
    confluence.lf.hero.button.text.colour: '#ffffff'
    confluence.lf.text.activelinkcolour: '#3b73af'
    confluence.lf.text.headingcolour: '#292929'
    confluence.lf.text.linkcolour: '#3b73af'
    confluence.lf.gadget.color1: '#169e2b'

