<?xml version="1.0" encoding="utf-8"?>
{%- from 'confluence/conf/settings.sls' import confluence with context %}
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<Server port="8000" shutdown="SHUTDOWN">
    <Service name="Tomcat-Standalone">

        <Connector port="8090"

                   maxThreads="150"
                   minSpareThreads="25"
                   connectionTimeout="20000"

                   enableLookups="false"
                   maxHttpHeaderSize="8192"
                   protocol="HTTP/1.1"
                   useBodyEncodingForURI="true"
                   redirectPort="8443"
                   acceptCount="100"
                   disableUploadTimeout="true"/>

        <Engine name="Standalone" defaultHost="localhost" debug="0">
            <Host name="localhost" debug="0" appBase="webapps" unpackWARs="true" autoDeploy="false">
                <Context path="" docBase="{{ catalina.home }}/atlassian-confluence" debug="0" reloadable="false" useHttpOnly="true">
                    <!-- Logger is deprecated in Tomcat 5.5. Logging configuration for Confluence is specified in confluence/WEB-INF/classes/log4j.properties -->
                    <Manager pathname="" />
                    <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="60" />
                </Context>
            </Host>
        </Engine>

        <Connector port="443"
                   protocol="org.apache.coyote.http11.Http11Protocol"
                   maxHttpHeaderSize="8192"
                   SSLEnabled="true"
                   maxThreads="150"
                   minSpareThreads="25"
                   enableLookups="false"
                   disableUploadTimeout="true"
                   acceptCount="100"
                   scheme="https"
                   secure="true"
                   clientAuth="false"
                   sslProtocol="TLS"
                   useBodyEncodingForURI="true"
                   keyAlias="confluence"
                   keystoreFile="{{ confluence.prefix }}/confluence/confluence.jks"
                   keystorePass="{{ confluence.jks_password }}"
                   keystoreType="JKS"/>

    </Service>
</Server>
